@use 'base/mixins' as m;
@use 'base/variables' as v;
.contenedor-imagen {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto 7rem auto;
    @include m.tablet {
        width: 60%;
        max-width: 100rem;
    }
}

.descripcion {
    margin: 0 auto 7.5rem auto;
    color: v.$blanco;
    h2 {
        margin-top: 0;
        text-align: left;
        color: v.$rojo;
        @include m.desktop-xl {
            margin: 8rem 0;
        }
    }
    p {
        font-size: 1.6rem;
        @include m.telefono {
            font-size: 1.8rem;
        }
        @include m.desktop-xl {
            font-size: 5rem;
        }
    }
}

.habilidades {
    margin: 7.5rem auto;
    ul {
        font-size: 1.6rem;
        color: v.$blanco;
        @include m.telefono {
            font-size: 1.8rem;
        }
        @include m.desktop-xl {
            font-size: 5rem;
        }
        li {
            padding: .15rem;
        }
    }
    @include m.tablet {
        @include m.grid(2, 4rem);
    }
}