    @use 'base/mixins' as m;
    @use 'base/variables' as v;
    .menu {
        position: fixed;
        z-index: 100;
        background-color: v.$negro;
        padding: 1.3rem;
        width: 100%;
        box-shadow: .1rem .2rem .3rem #333;
        @include m.tablet {
            display: flex;
            justify-content: space-between;
            padding: 1rem 5rem;
        }
        @include m.desktop-xl {
            padding: 3rem 14rem;
        }
    }
    
    //Menú de hamburguesa
    .mobile-menu {
        @include m.tablet {
            display: none;
        }
        img {
            width: 3rem;
            @include m.telefono {
                width: 3.5rem;
            }
        }
    }
    
    .logo {
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
            font-size: 2.8rem;
            text-align: left;
            padding-left: 0;
            color: v.$blanco;
            text-transform: uppercase;
            margin: 0;
            span {
                color: v.$rojo;
                font-weight: 600;
            }
            @include m.telefono {
                font-size: 3.5rem;
            }
            @include m.desktop-xl {
                font-size: 7rem;
            }
        }
    }
    
    .mostrar {
        visibility: visible;
        opacity: 1;
        height: auto;
    }
    
    .ocultar-menu {
        visibility: hidden;
        opacity: 0;
    }
    
    .navegacion {
        background: v.$negroTransparente;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        top: 0%;
        left: 0%;
        padding-top: 7rem;
        transition: all 1s ease;
        @include m.tablet {
            top: unset;
            left: unset;
            width: unset;
            position: unset;
            display: flex;
            flex-direction: row;
            visibility: unset;
            opacity: 1;
            height: unset;
            padding-top: unset;
        }
        a {
            display: block;
            text-align: center;
            font-weight: 400;
            line-height: 1.8;
            padding: .5rem 0;
            &:hover {
                color: v.$rojo;
            }
            @include m.telefono {
                padding: 1rem 0;
            }
            @include m.tablet {
                margin-right: 2rem;
                padding: unset;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            @include m.desktop-xl {
                margin-right: 5rem;
            }
        }
    }
    
    .uno {
        z-index: -10;
        -webkit-clip-path: circle(0% at 0 0);
        clip-path: circle(0% at 100% 0%);
        @include m.tablet {
            clip-path: circle(300% at 0 0);
        }
    }
    
    .dos {
        z-index: -10;
        -webkit-clip-path: circle(73% at 0 0);
        clip-path: circle(80% at 90% 0%);
        @include m.telefono {
            clip-path: circle(70% at 80% 0);
        }
        @include m.tablet {
            clip-path: circle(300% at 0 0);
        }
    }